NA Presales Cloud Power Control Run Report
==========================================

{% if ctx.config.dry_run %}
** THIS WAS A DRY RUN. NO ACTION WAS TAKEN. **
{% endif %}

Day and time used during this run: {{ ctx.run_time }} ({{ ctx.config.tz }})

Machines that are not running: {{ ctx.instances_not_running|length }}

Machines that are running within schedule: {{ ctx.instances_allowed|length }}

Machines with no owner: {{ ctx.instances_no_owner|length }}

{% for i in ctx.instances_no_owner %}
* {{ i.region }} / {{ i.id }} / {{ i.name }} / {{ i.owner }} / {{ i.running_schedule }}
{% endfor %}

Machines with protected owner: {{ ctx.instances_protected_owner|length }}

Machines with malformed or missing RUNNINGSCHEDULE: {{ ctx.instances_malformed|length }}

{% for i in ctx.instances_malformed %}
* {{ i.region }} / {{ i.id }} / {{ i.name }} / {{ i.owner }} / {{ i.running_schedule }}
{% endfor %}

Machines stopped: {{ ctx.instances_to_stop|length }}

{% for i in ctx.instances_to_stop %}
* {{ i.region }} / {{ i.id }} / {{ i.name }} / {{ i.owner }} / {{ i.running_schedule }}
{% endfor %}

{% if ctx.notified_owners_exist %}
Notifications were sent to the following owners:

{% for o in ctx.notified_owners %}
* {{ o }}
{% endfor %}
{% endif %}

{% if ctx.problem_owners_exist %}
Notifications failed for the following owners:

{% for o in ctx.problem_owners %}
* {{ o }}
{% endfor %}
{% endif %}
