NA Presales Cloud Power Control
===============================

{% if ctx.config.dry_run %}
** THIS WAS A DRY RUN. NO ACTION WAS TAKEN. **
{% endif %}

You are receiving this notification because one or more of your environments is going to be automatically stopped. To
help save on costs, we assign each cloud-hosted environment a Running Schedule and stop any environment if it is found
to be running outside its assigned Running Schedule.

https://infawiki.informatica.com/display/PRESAL/Running+Schedule

The following machines will be automatically stopped:

Machine ID / Machine Name / Running Schedule

{% for i in ctx.instances|sort(attribute='name') %}
* {{ i.id }} / {{ i.name }} / {{ i.running_schedule }}
{% endfor %}

If you need to make adjustments to the Running Schedule for any of your environments, please open a Zendesk ticket and
assign it to Environment Requests. Provide your environment name and desired running schedule. You may also send email
to {{ ctx.c.admin_email }} with questions.

Thanks,

NA Presales Operations
